html, body {
    scroll-behavior:auto;
    margin: 0;
    height: 100%;
    overflow: hidden;
    transition: .3s;
}

header {
    margin-top: 144px;
}

.lo-con {
    width: 100%;
    height: 100%;
    opacity: 0;
}

.lo-box {
    overflow: hidden;
    position: relative;
    justify-content: center;

    left: 50%;
    transform: translateX(-50%);

    width: 100%;
    max-width: 1000px;
    height: auto;

    padding-top: 24px;
    padding-bottom: 24px;
    transition: .3s;
}

.lo-box h2 {
    color: rgb(50, 50, 50);
    margin-bottom: -8px;
    font-size: 24px;
}

.lo-subbox {
    height: auto;
    transition: .3s;
}

.lo-line {
    position: relative;

    width: 95%;
    max-width: 1000px;

    left: 50%;
    transform: translate(-50%, 0%);

    padding-top: 10px;
    margin-top: 10px;

    border-top: 1px solid rgba(20, 20, 20, 0.2);
}

.lo-side {
    min-width: 250px;
    width: 25%;
    max-width: 250px;
    margin-left: 50px;
}

.lo-main {
    width: 75%;
    max-width: 750px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.lo-wide {
    width: 100%;
    max-width: 1000px;
    margin-left: 50px;
    margin-right: 50px;
}

.lo-flexmode {
    display: flex;
    flex-direction: row;
}

.lo-textcenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lo-profile {
    border-radius: 12px;
    width: 150px;
    height: 200px;
}

.lo-iconlink {
    width: 16px;
    height: 16px;
    background-size: cover;

    display: flex;
    align-items: center;
    color: rgb(48, 48, 48);
    font-size: 12px;
    /*word-break: break-all;*/
    margin-bottom: 10px;
    transition: .25s;
    margin-left: 10px;
}

.lo-iconlink h1 {
    position: absolute;
    color: rgb(48, 48, 48);
    font-size: 15px;
    font-weight: bold;
    margin-left: 24px;
    word-break: normal;
}

.lo-iconlink a {
    position: absolute;
    text-decoration: none; 
    box-shadow: 0px -2px rgba(48, 60, 110, 0.9) inset;
    padding-top: 2px;
    padding-bottom: 2px;

    max-width: 80%;
    margin-left: 100px;

    transition: .25s;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.lo-iconlink a2 {
    position: absolute;
    text-decoration: none; 
    padding-top: 2px;
    padding-bottom: 2px;

    margin-left: 100px;
}

.lo-iconlink a:hover {
    transition: .25s;
    text-decoration: none; 
    box-shadow: 0px -17px rgba(48, 60, 110, 0.9) inset;
    color: rgb(255, 255, 255);
}

.lo-gallery-header {
    position: relative;
    height: 10%;
}

.port-imgcon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    height: 20vw;
    max-height: 320px;

    transition: .4s;
    /*margin-left: 42vw;*/
    vertical-align: center;
}

.port-img {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    width: 10vw;
    max-width: 160px;

    height: 20vw;
    max-height: 320px;
    
    transition: 0.8s;

    filter: grayscale(90%);
    opacity: 0.8;

    margin: 0.5%;
    transition: .4s;
}

@media all and (max-width: 800px) {
    header {
        margin-top: 80px;
    }
    .lo-side {
        margin-left: 30px;
    }
    .lo-main {
        margin-left: -60px;
        margin-right: 30px;
    }
    .lo-wide {
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media all and (max-width: 700px) {
    header {
        margin-top: 32px;
    }
    .lo-box {
        flex-direction: column;
    }
    .lo-side {
        margin-left: 20px;
    }
    .lo-main {
        width: auto;
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .lo-wide {
        margin: 0px;
        margin-right: 10px;
        margin-top: -16px;
    }
    .gal-con {
        align-items: center;
        flex-direction: column;
        transition: .4s;
    }
    .gal-imgl {
        padding-left: 20px;
        padding-right: 20px;
    }
    .gal-imgl h3 {
        text-align: center;
        transition: .4s;
    }
    .lo-iconlink {
        margin-left: 0px;
    }
    .lo-iconlink h1 {
        margin-left: 0px;
        opacity: 0;
    }
    .lo-iconlink a {
        margin-left: 28px;
    }
    .lo-iconlink a2 {
        margin-left: 28px;
    }
    .sbar {
        opacity: 0;
        visibility: hidden;
    }
    .port-imgcon {
        flex-direction: column;
        height: 90%;
        max-height: 90%;
    }
    .port-img {
        width: 440px;
        max-width: 80%;
    
        height: 80px;
        max-height: 10vh;

        margin: .3vh;
        transition: .4s;
    }
    .port-img:hover {
        opacity: 1;
        transition: .5s;
        filter: grayscale(0%);
        width: 90%;
        max-width: 90%;
    }
    .lo-gallery-header {
        position: relative;
        height: 10%;
    }
}

@media all and (min-width: 701px) {
    .port-img:hover {
        opacity: 1;
        transition: .4s;
        filter: grayscale(0%);
        height: 25vw;
        max-height: 380px;
    }
    .lo-gallery-header {
        position: relative;
        height: 10%;
        padding-bottom: 25px;
    }
}

.lo-center-h {
    position: absolute;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;

    width: 100%;
    height: 100%;
}

.loader {
    position: fixed;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;

    text-align: center;

    width: 100%;
    height: 100%;
    opacity: 1;
    font-size: 20px;
    font-weight: bolder;
}

#spot {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    background: red;
}