header {
    margin-top: 144px;
}

.lo-con {
    width: 100%;
    height: 100%;
    opacity: 0;
}

.lo-box {
    overflow: hidden;
    position: relative;
    justify-content: center;

    left: 50%;
    transform: translateX(-50%);

    width: 100%;
    max-width: 1000px;
    height: auto;

    padding-top: 24px;
    padding-bottom: 24px;
    transition: .3s;
}

.lo-box h2 {
    color: rgb(50, 50, 50);
    margin-bottom: -8px;
    font-size: 24px;
}

.lo-subbox {
    height: auto;
    transition: .3s;
}

.lo-line {
    position: relative;

    width: 95%;
    max-width: 1000px;

    left: 50%;
    transform: translate(-50%, 0%);

    padding-top: 10px;
    margin-top: 10px;

    border-top: 1px solid rgba(20, 20, 20, 0.2);
}

.lo-side {
    min-width: 250px;
    width: 25%;
    max-width: 250px;
    margin-left: 50px;
}

.lo-main {
    width: 75%;
    max-width: 750px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.lo-wide {
    width: 100%;
    max-width: 1000px;
    margin-left: 50px;
    margin-right: 50px;
}

.lo-flexmode {
    display: flex;
    flex-direction: row;
}

.lo-textcenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lo-profile {
    border-radius: 12px;
    width: 150px;
    height: 200px;
}

.lo-iconlink {
    width: 16px;
    height: 16px;
    background-size: cover;

    display: flex;
    align-items: center;
    color: rgb(48, 48, 48);
    font-size: 12px;
    /*word-break: break-all;*/
    margin-bottom: 10px;
    transition: .25s;
    margin-left: 10px;
}

.lo-iconlink h1 {
    position: absolute;
    color: rgb(48, 48, 48);
    font-size: 15px;
    font-weight: bold;
    margin-left: 24px;
    word-break: normal;
}

.lo-iconlink a {
    position: absolute;
    text-decoration: none; 
    box-shadow: 0px -2px rgba(48, 60, 110, 0.9) inset;
    padding-top: 2px;
    padding-bottom: 2px;

    max-width: 80%;
    margin-left: 100px;

    transition: .25s;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.lo-iconlink a2 {
    position: absolute;
    text-decoration: none; 
    padding-top: 2px;
    padding-bottom: 2px;

    margin-left: 100px;
}

.lo-iconlink a:hover {
    transition: .25s;
    text-decoration: none; 
    box-shadow: 0px -17px rgba(48, 60, 110, 0.9) inset;
    color: rgb(255, 255, 255);
}

.lo-gallery-header {
    position: absolute;
    width: 100%;
    height: 100%;

    margin: 0px;
    font-size: 8px;  
    text-align: center;
}

.lo-gallerybox {
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    
    overflow: hidden;

    height: 25vw; 
    max-height: 380px;

    transition: .5s;
}

.port-imgcon {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    vertical-align: center;

    height: 20vw;
    max-height: 320px;
    transition: .5s;
    
    margin: 0px;
}

.port-img {
    position: relative;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    min-width: 0px;
    min-height: 0px;

    width: 10vw;
    max-width: 160px;
    height: 20vw;
    max-height: 320px;

    opacity: 0.4;
    
    margin: 0.5vw;
    transition: .5s;

}

.lo-titleborder {
    padding-left: 8px;
    padding-right: 8px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, 
                rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, 
                rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
                
}

.lo-titleborder2 {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 2px;
    border-radius: 0px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, 
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, 
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.lo-loreimageborder {
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

@media all and (max-width: 800px) {
    header {
        margin-top: 80px;
    }
    .lo-side {
        margin-left: 30px;
    }
    .lo-main {
        margin-left: -60px;
        margin-right: 30px;
    }
    .lo-wide {
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media all and (max-width: 700px) {
    header {
        margin-top: 32px;
    }
    .lo-box {
        flex-direction: column;
    }
    .lo-side {
        margin-left: 20px;
    }
    .lo-main {
        width: auto;
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .lo-wide {
        margin: 0px;
        margin-right: 10px;
        margin-top: -16px;
    }
    .gal-con {
        align-items: center;
        flex-direction: column;
    }
    .gal-imgl {
        padding-left: 20px;
        padding-right: 20px;
    }
    .gal-imgl h3 {
        text-align: center;
        transition: .4s;
    }
    .lo-iconlink {
        margin-left: 0px;
    }
    .lo-iconlink h1 {
        margin-left: 0px;
        display: none;
    }
    .lo-iconlink a {
        margin-left: 28px;
    }
    .lo-iconlink a2 {
        margin-left: 28px;
    }
    .sbar {
        display: none;
    }
    .port-imgcon {
        flex-direction: column;
        height: 70vh;
        max-height: 70vh;
    }
}

.lo-center-h {
    position: absolute;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;

    width: 100%;
    height: 100%;

    margin: auto;
}

.loader {
    position: fixed;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;

    text-align: center;

    width: 100%;
    height: 100%;
    opacity: 1;
    font-size: 20px;
    font-weight: bolder;
}

@keyframes closeGallery {
    to {
        width: 0px;
        height: 0px;
        opacity: 0;
        padding: 0;
        margin: 0px;
        transition: 0s;
    }
}

@keyframes closeGalleryHeader {
    to {
        opacity: 0;
        height: 0px;
        padding: 0px;
        margin: 0px;
        transition: 0s;
    }
}

@keyframes scaleBook {
    to {
        min-width: 160px;
        width: 20vw;
        max-width: 320px;
        min-height: 240px;
        height: 30vw;
        max-height: 480px;
    }
}

@keyframes openGallery {
    from {
        width: 0px;
        height: 0px;
        opacity: 0;
        padding: 0;
        margin: 0px;
        transition: 0s;
    }
    to {
        width: 10vw;
        height: 20vw;
        opacity: 1;
        margin: 0.5%;
        transition: .5s;
    }
}

@keyframes openGalleryHeader {
    from {
        opacity: 0;
        height: 0px;
        padding: 0px;
    }
    to {
        opacity: 1;
        height: 10%;
        padding-bottom: 4%;
    }
}

@keyframes scaleGalleryW {
    from {
        min-width: 160px;
        width: 20vw;
        max-width: 320px;
        min-height: 240px;
        height: 30vw;
        max-height: 480px;
    }
    to {
        min-width: 0px;
        width: 10vw;
        max-width: 160px;
        min-height: 0px;
        height: 20vw;
        max-height: 320px;
    }
}

@keyframes scaleGalleryH {
    from {
        min-width: 160px;
        width: 20vw;
        max-width: 320px;
        min-height: 240px;
        height: 30vw;
        max-height: 480px;
    }
    to {
        min-width: 0px;
        width: 10vw;
        max-width: 160px;
        min-height: 0px;
        height: 20vw;
        max-height: 320px;
    }
}