.cursor_con {
    position: fixed;
    z-index: 1000;
    pointer-events: none;
    background-size: cover;
}

.cursor_guide {
    font-size: .75rem;
    width: 100px;
    height: 16px;
    line-height: 16px;
    margin-left: .75rem;
    margin-top: -1.2rem;
    position: absolute;
    opacity: 0;
    animation-duration: 1s;
}

.cursor_item {
    position: relative;
    width: 0.5rem;
    height: 1.5rem;
    margin-left: -0.375rem;
    margin-top: -0.9rem;
    
    border: 0.15rem solid black;
    border-radius: 0.5rem;
    overflow: hidden;
}

.cursor_wheel {
    position: relative;
    top: 0;
}

.cursor_item .cursor_wheel span {
    content: '';
    width: 0.4rem;
    height: 0.5rem;
    border-top: 0.15rem solid #121212;
    position: absolute;
    margin-left: 0.05rem;
}

@keyframes cursorGuideScale {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes cursorWheel {
    from {
        top: 0rem;
    }
    to {
        top: .75rem;
    }
}

@keyframes cursorWheelUp {
    from {
        transform: rotate(315deg) scale(1, 1);
        transition: .2s;
    }
    to {
        transform: rotate(315deg) scale(1.4, 1.4);
    }
}

@keyframes cursorWheelDown {
    from {
        transform: rotate(135deg) scale(1, 1);
    }
    to {
        transform: rotate(135deg) scale(1.4, 1.4);
    }
}

@keyframes cursorWheelScale {
    from {
        transform: scale(1, 1);
    }
    to {
        transform: scale(1.1, 1.1);
    }
}

.cursor_wheelup {
    content: '';
    width: 0.3rem;
    height: 0.3rem;
    border-top: 0.15rem solid #121212;
    border-right: 0.15rem solid #121212;
    display: inline-block;
    transform: rotate(315deg);
    position: absolute;
    top: -1.5rem;
    margin-left: -0.2rem;
}

.cursor_wheeldown {
    content: '';
    width: 0.3rem; /* 사이즈 */
    height: 0.3rem; /* 사이즈 */
    border-top: 0.15rem solid #121212; /* 선 두께 */
    border-right: 0.15rem solid #121212; /* 선 두께 */
    display: inline-block;
    transform: rotate(135deg); /* 각도 */
    position: absolute;
    top: 1em;
    margin-left: -0.2rem;
}

.po-main {
    margin: auto;

    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.po-con {
    display: flex;
    position: relative;
    justify-content: center;

    left: 50%;
    width: 80vw;
    max-width: 160vh;
    height: 40vw;
    max-height: 80vh;
    transform: translate(-50%, -50%);

    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;

    opacity: 0;
}

.po-con-line {
    position: relative;

    width: 80vw;

    padding-bottom: 4vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vh;

    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

@media all and (min-width: 1280px) {
    .po-main {
        max-width: 1280px;
    }
    .po-con {
        max-width: 1280px;
        max-height: 640px;
    }
    .po-con-line{
        max-width: 1280px;
    }
}

.po-con-img {
    width: 60%;
    height: 43%;

    position: absolute;
    display: flex;

    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;

    transform: translate(33%, 50%);
}

.po-img {
    position: relative;

    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    width: 48%;
    height: 48%;

    filter: grayscale(10%) opacity(70%);
}

.po-con-qr {
    z-index: 1;
    transform-origin: top center;
    justify-content: center;
    width: 35%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
}

.po-con-qr .po-qr {
    width: 40%;
    max-width: 150px;
    height: auto;
    transition: .3s;
    transform-origin: top center;
}

.po-con-qr:hover .po-qr {
    width: 10vh; 
    max-width: 150px;
    height: auto;
    transition: .3s;
    transform-origin: top center;
}

.overlay {
    overflow: hidden;
    height: 100vh;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

@media all and (orientation: landscape) {
    .po-con-qr:hover .po-qr {
        width: 10vw; 
        max-width: 150px;
        height: auto;
        transition: .3s;
        transform-origin: top center;
    }
}

.po-box {
    position: relative;
    width: 50%; 
    height: 100%;
    margin: 0px;
    padding: 0px;
    
    opacity: 1;
    transition: 1s;
}

.po-box-flexmode {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: space-around;
    align-content: space-around;
}

.po-box .po-subbox {
    position: relative;
    width: 49%;
    height: 49%;
    margin: 0px;
    padding: 0px;
    background-color: rgb(216, 216, 216);
}

.po-box .po-subbox .po-drawbox {
    position: relative;
    width: 25%;
    height: 25%;
    margin: 0px;
    padding: 0px;
}

.po-box .po-button {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: .1vw solid black;
    border-radius: 16vw;
    transition: .3s;
}

.po-button:hover {
    transform: scale(1.1, 1.1);
    background-color: black;
    color: white;
    transition: .3s;
}

.po-box h1 {
    font-size: 3vw;
    letter-spacing: .5vw;
}

.po-box h2 {
    font-size: 2vw;
    font-weight: lighter;
}

.po-box h3 {
    font-size: 3vw;
    letter-spacing: .2em;
}

.po-box p {
    font-size: 1.2vw;
    letter-spacing: .1em;
}

.po-box p2 {
    font-size: 1vw;
}

@media all and (min-width: 1280px) {
    .po-box h1 {
        font-size: 4vh;
        letter-spacing: .5vh;
    }
    .po-box h2 {
        font-size: 2vh;
    }
    .po-box p {
        font-size: 1.2vh;
    }
    .po-box p2 {
        font-size: 1vh;
    }
}

.po-ani-rtl {
    animation-name: boxRTL;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    animation-fill-mode: both;
}

.po-ani-btt {
    animation-name: boxBTT;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    animation-fill-mode: both;
}

.po-ani-ttb {
    animation-name: boxTTB;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    animation-fill-mode: both;
}

.po-ani-fadein {
    animation-name: fadeIn;
    animation-duration: .3s;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    animation-fill-mode: both;
    animation-delay: 1s;
}

@keyframes boxRTL {
    from {
        transform-origin: left center;
        transform: scaleX(2);
    }
    to {
        transform-origin: left center;
        transform: scaleX(1);
    }
}

@keyframes boxBTT {
    from {
        transform-origin: top center;
        transform: scaleY(2);
    }
    to {
        transform-origin: top center;
        transform: scaleY(.5);
    }
}

@keyframes boxTTB {
    from {
        transform-origin: top center;
        transform: scaleY(0);
    }
    to {
        transform-origin: top center;
        transform: scaleY(1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}