.po-con {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;

    overflow: hidden;
    position: relative;

    left: 50%;
    transform: translateX(-50%);
    
    /*width: calc(100% - 120px);*/
    width: 80vw;
    max-width: 1000px;
    height: 40vw;
    max-height: 500px;

    transition: .3s;
}

.po-box {
    overflow: hidden;
    position: relative;
    justify-content: center;

    width: 50%;
    height: 100%;
    transition: .3s;
}

.po-pr1 {
    order: 0;
}
.po-pr2 {
    order: 0;
}
.po-pr3 {
    order: 0;
}
.po-pr4 {
    order: 0;
}
.po-prh-auto {
}

.po-subbox {
    overflow: hidden;
    position: relative;
    justify-content: center;
    
    width: 49%;
    height: 49%;
    transition: .3s;
}

.po-subbox p {
    font-size: 12px;
    letter-spacing: .1em;
    line-height: 1.5em;
}

.po-drawbox {
    position: relative;
    width: 33%;
    height: 33%;
    margin: 0px;
    padding: 0px;

    justify-content: center; vertical-align: middle;
}

.po-sbwide {
    width: 99%;
}

.po-flexmode {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
}

.po-img {
    position: relative;

    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    width: 100%;
    height: 100%;
}

.po-grayscale {
    filter: grayscale(50%);
    opacity: 0.6;
}