.screen-ani {
    position:fixed;
    width:0%;
    height:100%;
    background-color: rgb(20, 22, 26);
    z-index: 100000;
    transition: 1s;
}

@keyframes showItem {
    from {
        opacity: 0;
        padding-left: 200px;

    }
  
    to {
        opacity: 1;
        padding-left: 0px;
    }
}

@keyframes showItemFromTop {
    from {
        opacity: 0;
        margin-top: -200px;

    }
  
    to {
        opacity: 1;
        margin-top: 0px;
    }
}

@keyframes showItemFromBottom {
    from {
        opacity: 0;
        margin-top: 600px;

    }
  
    to {
        opacity: 1;
        margin-top: 0px;
    }
}

@keyframes showItemFromRight {
    from {
      transform: scaleX(1.1);
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

.gal-con {
    display: flex;
    justify-content: left;
}

.gal-con h3{
    font-size: 16px;
}

.gal-imgcon {
    margin-top: 16px;
    min-width: 250px;
    width: 250px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    float:left;
    cursor: grab;
    transition: .4s;
}

.gal-imgcon .gal-img {
    width:100%;
    height:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    border-radius: 4px;
    box-shadow: 4px 4px 16px rgba(20, 20, 20, 0.5);
}

.gal-imgcon .gal-seemore {
    position: relative;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    transition: .4s;
    opacity: 0;
}

.gal-img {
    transition: .4s;
}

.gal-imgl {
    padding-left: 24px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    float:left;
    cursor: grab;
    transition: .4s;

    padding-left: 20px;
    padding-right: 10px;
}

.gal-con:hover{
    transition: .4s;
}

.gal-con:hover .gal-imgcon{
    transition: .4s;
}

.gal-con:hover .gal-img{
    transition: .4s;
    filter:brightness(45%);
}

.gal-con:hover .gal-seemore{
    margin-top: -52px;
    transition: .4s;
    opacity: 1;
}

.gal-con .gal-imgl p {
    color: rgba(80, 80, 80, 1);
}

.sbar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height:100%;
    left: 100%;
    position: fixed;
    margin-left: -40px;
    z-index: 1;
}

.sbar-circle {
    opacity: 0.2;
    text-align: center;
    margin: 4px;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    animation-fill-mode:forwards;
    animation-delay: 1.05s;
    transition: .2s;
}

.sbar-circle:hover {
    transform: scale(1.3, 1.3);
    transition: .2s;
}

.port-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.port-con {
    display: flex;

    transition: .9s;
    justify-content: center;
    flex-direction: row;
    left: 50%;
    transform: translate(-50%, 0%);
}

.port-imgcon {
    position: relative;
    display: flex;
    justify-content: center;

    width: auto;
    height: auto;

    transition: .9s;
    /*margin-left: 42vw;*/
    vertical-align: center;
}

.port-header {
    justify-content: center;
    display: flex;

    max-width: 1000px;
    position: relative;
}

.port-img {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    width: 10vw;
    max-width: 160px;

    height: 20vw;
    max-height: 320px;
    
    transition: 0.8s;

    filter: brightness(100%);

    margin: 0.5%;
}

.port-dungeonrpg3 {

}
#page1{}
#page2{transform: translateY(100%);}
#page3{} 
#page4{} 
#page5{}

.port-lore {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    font-size: 11px;
    transition: .5s;
}

.port-loreL {
    position: absolute;
    justify-content: center;
    height: 49vw;
    max-height: 80vh;
    left: 10vw;

    top: 50%;
    transform: translateY(-50%);

    width: 25vw;
    padding-left: 0vw;
    background-color: rgb(95,94,103);
    transition: .5s;
}

.port-loreL .lore-sub {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.port-loreL .lore-sub .lore-subl {
    position: relative;
    display: flex;
    flex-direction: row;
}

.port-loreL .lore-sub .lore-subl .lore-text {
    margin-left: auto;
    margin-right: 1vw;
    text-align: right;
    width: 10vw;
}

.port-loreC {
    text-align: center;
    justify-content: center;
    position: absolute;

    width: 68vw;
    height: 49vw;
    max-height: 80vh;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s;
} 

.port-loreC hr{
    border: 0;
    margin: 0;
    width: 100%;
    height: 2px;
    background: rgba(214, 200, 178, 0.4);
    transition: .5s;
}

.port-loreRT {
    max-height: 80vh;
    position: absolute;
    justify-content: center;

    left: 50vw;
    top: 50%;
    transform: translateY(-50%);
    width: 30vw;
    transition: .5s;
} 

.lore-sub {
    display: flex;
    flex-direction: row;
}

.lore-subt {
    width: 8vw;
    min-width: 80px;
    max-width: 100px;
}
.lore-subl {

}

.port-img:hover {
    opacity: 1;
    transition: .4s;
    filter: brightness(30%);
}

.port-font {
    /*color: rgb(214, 200, 178);*/
    color: rgb(40, 40, 40);
    transition: .4s;
}

.port-font h1 {
    transition: .4s;
    text-align: center;
    font-size: 1vw;
}

.port-font h2 {
    font-size: 2vw;
}

.port-font h3 {
    transition: .4s;
    font-size: 3vw;
    word-spacing: 1px;
    letter-spacing: 3px;
}

.port-font p {
    font-size: 12px;
}

.video{
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 100%;
    background-color: rgb(80, 67, 54);

    /* <video> 요소는 기본적으로 인라인 요소. 공백 또는 줄 바꿈을 나타내는 간격이 있음. */
    display: inline-block;
    margin:0;
    padding:0;
}

.video iframe{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(80, 67, 54);
}

.ani_frombottom {
    animation-name: showItemFromBottom;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    animation-fill-mode: both;
    animation-delay: 1.05s;
}

.ani_fromtop {
    animation-name: showItemFromTop;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    animation-fill-mode: both;
    animation-delay: 1.05s;
}

#project1 { background-image: url("/src/images/DungeonRpg3.png");}
#project2 { background-image: url("/src/images/DungeonRpg2.png"); }
#project3 { background-image: url("/src/images/TUDCutscene.png"); }
#project4 { background-image: url("/src/images/MicroCastle.png"); }
#project5 { background-image: url("/src/images/WayBackHome2.png"); }
#project6 { background-image: url("/src/images/WayBackHome.png"); }
#project7 { background-image: url("/src/images/VendingMachine.png"); }
#project8 { background-image: url("/src/images/TypingOfLegend.png"); }

html, body {
    scroll-behavior:auto;
    margin: 0;
    height: 100%;
    overflow: hidden;
    transition: .3s;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Nanum Gothic', sans-serif;
    transition: .5s;
    animation-name: showItemFromRight;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.flex-header {
    margin-top: 128px;
    padding-bottom: 24px;
    max-width: 1000px;
    left: 50%;
    transform: translate(-50%, 0%);
    position: relative;
}

.flex-maintitle {
    padding-top: 24px;
    padding-bottom: 14px;
    max-width: 1000px;
    left: 50%;
    transform: translate(-50%, 0%);
    position: relative;
    text-align: left;
}

.flex-subtitle {
    padding-top: 24px;
    padding-bottom: 24px;
    max-width: 1000px;
    left: 50%;
    transform: translate(-50%, 0%);
    position: relative;
    text-align: left;
}

.flex-line {
    border-top: 1px solid rgba(20, 20, 20, 0.2);
    width: 90%;
    max-width: 1000px;
    left: 50%;
    position: relative;
    transform: translate(-50%, 0%);
    padding-top: 10px;
    padding-bottom: 10px;
}

.flex-gallery {
    max-width: 1000px;
    left: 50%;
    transform: translate(-50%, 0%);
    position: relative;
    align-content: center;
}

.flex-gallery img {
    background-color: #485861;
    border-radius: 12px;
    overflow: hidden;
}

.flex-main {
    padding-top: 44px;
    padding-bottom: 44px;
    display: flex;
    flex: 0;
    max-width: 1000px;
    left: 50%;
    transform: translate(-50%, 0%);
    position: relative;
    text-align: left;
    box-sizing : border-box;
    overflow : hidden;
}

.flex-nav {
    flex: 0;
    min-width: 250px;
}

.flex-article {
    flex: 3 3;
}

.flex-aside {
    flex: 0;
    max-width: 150px;
}

.ani_toleft {
    animation: showItem 1.5s;
    animation-fill-mode: both;
}

.ani_toleft:nth-of-type(1) {
    animation-delay: 0.05s;
}
.ani_toleft:nth-of-type(2) {
    animation-delay: 1.2s;
}
.ani_toleft:nth-of-type(3) {
    animation-delay: 1.35s;
}
.ani_toleft:nth-of-type(4) {
    animation-delay: 1.5s;
}

.flex-footer {
    padding-top: 240px;
    padding-bottom: 240px;
    max-width: 1000px;
    left: 50%;
    transform: translate(-50%, 0%);
    position: relative;
    flex-basis: auto;
}

.text-wrap{
	bottom:0;
	z-index: 1;
    margin-left: 50px;
    margin-right: 50px;
    transition: .4s;
}

.text-wrap h1{
    color: rgb(20, 20, 20);
    font-size: 32px;
}

.text-wrap h2{
    color: rgb(50, 50, 50);
    margin: .4rem 0 .4rem 0;
    font-size: 24px;
}

.text-wrap h3{
    color: rgb(68, 68, 68);
    font-size: 16px;
}

.text-wrap h4{
    color: rgb(68, 68, 68);
    font-size: 16px;
}

.text-wrap h5{
    color: white;
    font-size: 20px;
}

.text-wrap p{
    color: rgb(64, 64, 64);
    font-size: 16px;
}

.text-wrap p2{
    color: rgb(48, 48, 48);
    font-size: 15px;
    font-weight: bold;
    margin-right: 20px;
    word-break: normal;
}

.mlink{
    display: flex;
    align-items: center;
    color: rgb(48, 48, 48);
    font-size: 12px;
    /*word-break: break-all;*/
    margin-bottom: 10px;
}

.mlink a {
    text-decoration: none; 
    box-shadow: 0 -3px rgba(48, 60, 110, 0.9) inset;
    transition: .25s;
    padding-top: 2px;
    padding-bottom: 2px;
}

.mlink a:hover {
    transition: .25s;
    text-decoration: none; 
    box-shadow: 0 -17px rgba(48, 60, 110, 0.9) inset;
    color: rgb(255, 255, 255);
}

.subline{
    border: 1px dashed rgba(20, 20, 20, 0.2);
    width: 400px;
    text-align: left;
    margin-left: 0px;
}

.text-wrap pimg{
    margin-left: 10px;
    margin-right: 10px;
    opacity: 0.7;
    padding-top: 2px;
    transform: translate(0%, 0%);
    position: relative;
}