.po-text-ani {
  position: relative;
}

.po-text-ani span {
  transform: skew(0deg);
  position: relative;
}

.ft-main-title {
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.ft-main-lore {
  width: 90%;
  height: auto;
  margin: auto;
}

.ft-main-lore span {
  font-weight: 100;
}